
<%provide(:title, 'Home')%>

		<div id="navcontainer">
			<ul id="navlist">

				<li><%= link_to "Home", root_path, :class => 'current' -%> </li>
				<li><%= link_to("About Us", about_path)%></li>
				<li><%= link_to("Get Involved", getInvolved_path)%></li>
				<li><%= link_to "Partners", partners_path%></li>
				<li><%= link_to "Board Members", members_path%></li>
				<li><%= link_to("Events", events_path)%></li>
				<li><%= link_to("Gallery", gallery_path)%></li>
				<li><%= link_to("FAQs", faqs_path)%></li>
				<li><%= link_to("Contact Us", contact_path)%></li>
			
			</ul>
		</div>
<div class = "spacer"></div>
<div id = "center-image">
<%= link_to image_tag("blackboard.jpg", alt: "Rails"), '/assets/images/blackboard.jpg' %>

</div>

<div class ="spacer"></div>	
<h3> Welcome!</h3>
<p>Great news, you can now donate to EASE through the MIT Giving Website! <p>

<p> Every year, millions of children in Africa are denied access to basic education due to poverty! </p>

<p>EASE is an MIT-student initiative founded with the primary aim of making basic education more accessible to underprivileged children in Africa. We realize that this is a enormous task, but as the wise will say, a journey of a hundred years begins with one step. </p>

<p>Supporting child education since April, 2002 </p>

<p>Explore this site to learn more about how you can help.</p>
