<!DOCTYPE html>
<html>
<head>
  <title> EASE | Expediting Access to Standard Education | <%= yield(:title)%></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="contianer">

	<header id = "head">
		
		<h1>E.A.S.E</h1>
		<h2>Expediting Access to Standard Education</h2>
		<div id="head-inner"></div>

	</header>
	<!--<div class= "spacer"> </div>-->
<!--	<nav class= "menu">
		<ul>
			<li class = "menuitem-grower"><%= link_to("Home", '/static_pages/home')%></li>
			<li class = "menuitem-grower"><%= link_to("About Us", '/static_pages/about')%></li>
			<li class = "menuitem-grower"><%= link_to("Get Involved", '/static_pages/getInvolved')%>
			 	<ul>
					<li><%= link_to("Board Members", '/static_pages/members')%></li>
					<li><%= link_to("Partners", '/static_pages/partners')%></li>
				</ul> 
			</li>
			<li class = "menuitem-grower"><%= link_to("Events", '/static_pages/events')%></li>
			<li class = "menuitem-grower"><%= link_to("Gallery", '/static_pages/gallery')%></li>
			<li class = "menuitem-grower"><%= link_to("FAQs", '/static_pages/faqs')%></li>
			<li class = "menuitem-grower"><%= link_to("Contact Us", '/static_pages/contact')%></li>
			

		</ul>
	</nav> --> 
	
<!--		<div id="navcontainer">
			<ul id="navlist">

				<li><%= link_to "Home", { :controller => 'static_pages', :action => 'home' }, :class => 'current' -%> </li>
				<li><%= link_to("About Us", '/static_pages/about')%></li>
				<li><%= link_to("Get Involved", '/static_pages/getInvolved')%></li>
				<li><%= link_to("Events", '/static_pages/events')%></li>
				<li><%= link_to("Gallery", '/static_pages/gallery')%></li>
				<li><%= link_to("FAQs", '/static_pages/faqs')%></li>
				<li><%= link_to("Contact Us", '/static_pages/contact')%></li>
			
			</ul>
		</div> -->

</div> 

 <div class="content">
	<%= yield %>
</div> 


<footer id = "foot">
	<div class= "spacer"> </div>
	<ul id = "foot-navlist">
				<li><%= link_to("EASE Brochure |", '#')%></li>
				<li><%= link_to("IDEAS Grant Proposal |", '#')%></li>
				<li><%= link_to("Constitution |", '#')%></li>
				<li><%= link_to("EASE Brochure", '#')%></li>
			</ul>

			<div id="foot-inner">
			
		</div>
</footer>



</body>
</html>
